/* Staring for mobile screens and later adding support for bigger resolutions */

/* border boxing */
html {
    box-sizing: border-box;

  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin:0 auto;
    width:100%;
  }

/* body */
body {
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(135deg, rgba(223,236,36,1) 36%, rgba(80,221,176,1) 100%);
    /* overflow: scroll; */

}
/* Logo */
.header .logo{
    /* not visible in mobile view */
    display:none;
}
/* header */
.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}


.header nav {
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    list-style-type: none;
}

.header nav li {
    min-width: max-content;
}
.header nav li a{
    display:block;
    background-color:rgba(255, 145, 0, 0.959);
    border:1px solid rgb(255, 136, 0);
    text-decoration: none;
    text-align: center; 
    color:black;
    padding:0.5em 0.5em;
    transition: all 0.1s linear;
}

.header nav li:nth-child(6),.header nav li:nth-child(8){
    /* not visible in mobile view */
    display:none;
}

.header nav a:hover,.header a:active{
    cursor:pointer;
    background-color: orange;
    transform: scale(1.05);
}
.main {
    display:flex;
    flex-direction: column;
    margin-top:0.5em;
    width:90%;
}
.menu section,.mainEl,.goTop {
    margin-top:0.5em; 
}
.mainEl:not(.menu):not(.map):not(.photos){
    background-color:rgba(255, 166, 0, 0.925);
    padding:0.5em;
    border-radius: 1em;
    text-align: center;
}
/* Menu */
.menu {
    display:flex;
    flex-direction: column;
}


.menu section{
    display:flex;
    flex-direction: column;
    background-color:rgba(255, 166, 0, 0.925);
    transition: transform 0.1s linear;
    border-radius: 1em;
}
.menu section:hover{
    transform: scale(1.01);

}
.menu img{
    border-radius:0.5em;
}
/* //.description */
.menu .description{
    text-align: center;
    padding:1em;
    font-size:1em;
    /* overflow: scroll; */
}
/* .price */
.menu .description .price {
    font-size:1.2em;
    color:rgba(247, 70, 0, 0.897);
}


.goTop {
    display:inline-block;
    font-size: 0.9em;
    font-weight: 600;
    border-color: rgba(85, 85, 85, 0.2);
    background: red;
    position: sticky;
    top: 0%;
    border-radius: 0.1em;
    z-index: 1;
    text-decoration: none;
    text-align: center; 
    color:rgb(61, 45, 45);
    padding:5px;
    transition: all 0.3s linear;
}
.goTop:hover {
    background-color: #e61515;
    color:rgb(69, 184, 41);
}
/* form */
.order{

}
.orderForm label{
    font-style: italic;
 }
.inputEl{
    border-radius: 0.5em;
    margin:0.5em 0;
    padding:0.3em;
    border-style: none;
    
}

.orderArea{
    resize: none;
}

.orderBtn {
    background: rgba(198, 226, 36, 0.781);
    color:rgba(247, 45, 9, 0.87);
    font-weight: 700;
    font-size:0.9em;
    transition: all 0.3s linear;
    width:60%;
    margin-top:0.5em;
    padding: 0.2em;
    border:none;
    border-radius: 0.5em;
    min-width: max-content;
}
.orderBtn:hover{
    transform: scale(1.05);
    font-weight: 900;
}
/* Contact */
.contact p{
    margin-top:0.5em;
}

.contact a{
    background: rgba(198, 226, 36, 0.781);
    color:rgba(247, 45, 9, 0.87);
    font-weight: 700;
    font-size:0.9em;
    width:60%;
    margin-top:0.5em;
    border:none;
    border-radius: 0.5em;
    min-width: max-content;
    display:inline-block;
    text-decoration: none;
    text-align: center; 
    color:red;
    transition: all 0.3s linear;
}
.contact a:hover{
    transform: scale(1.05);
    font-weight:900;
}
/* AboutUs */
.aboutUs h4{
    margin-bottom:0.5em;
}
/* Photos */
.photos, .healthy {
    /* not visible in mobile view */
    display:none;
}
.OpenHours *:not(:first-child){
    margin-top:0.5em;
}
.OpenHours .workHours{
    font-size:1.2em;
    color:rgba(247, 70, 0, 0.897);
}
/* Footer */
.footer{
    display:flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}
.socialMedia{
    display:flex;
    margin-top:0.5em;
}
.socialMedia a {
    display:inline-block;
    background-color:rgba(255, 145, 0, 0.959);
    border:1px solid rgb(255, 136, 0);
    text-decoration: none;
    text-align: center; 
    color:black;
    padding:0.2em 1em;
    transition: all 0.1s linear;
    
}
.socialMedia a:hover,a:active{
    cursor:pointer;
    transform: scale(1.05);
}
.copyRight{
    margin-top:0.1em;
    background-color:rgba(255, 145, 0, 0.959);
    border:1px solid rgb(255, 136, 0);
    text-align: center;
}

/* Media Queries for tablet*/
@media only screen and (min-width:480px){
    .header .logo {
        height:5em;
        background-image: url(images/logo.jpg);
        background-repeat: repeat-x;
    }
    .goTop{
        display: none;
    }
    .header nav {
        flex-direction: row;
    }
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .menu section{
        flex:50%;
        max-width: 50%;
    }
}
/* Media Queries for laptop*/
@media only screen and (min-width:900px){

    .header nav li:nth-child(6),.header nav li:nth-child(8),.header .logo,.photos, .healthy{
        /* visible in big screens */
        display: block;
    }

    /* .header .logo img {
        background-image:url(images/logo.jpg);
    } */
    body,.main,.footer,.header{
        background-color: black;
    }
    .header nav{
        margin-top: 0.5em;
    }
    .header nav li a {
        font-size: 1.5em;
    }
    .main{
        margin-top:0;
        width:100%;
 
    }
    .mainEl:not(.menu):not(.map):not(.photos){
        border-radius: 0;
    }
    .menu{
        width:99%;
    }
    .menu section {
        flex:33%;
        max-width: 33%;
    }
    .contact a{
        width:25%;
    }
    .photos{
        order:2;
    }
    .footer .socialMedia :first-child{
        margin-right: 1em;
    }
    .copyRight{
        margin-top: 0.5em;
    }
}
/*  */