/* Staring for mobile screens and later adding support for bigger resolutions */

/* border boxing */
html {
    box-sizing: border-box;

  }
  *, *:before, *:after {
    box-sizing: inherit;
    margin:0 auto;
    width:100%;
  }

/* body */
body {
    font-family: "Lato", sans-serif;
    background: rgba(223, 236, 36, 0.685);
}
/* header */
#Header {
 
}
#Header #logo{
    /* not visible in mobile view */
    display:none;
}
#Header nav {
    list-style-type: none;
    display:flex;
    flex-direction: column;
}
#Header nav a{
    display:inline-block;
    background-color:rgba(255, 145, 0, 0.959);
    border:1px solid rgb(255, 136, 0);
    text-decoration: none;
    text-align: center; 
    color:black;
    padding:8px 12px;
    transition: all 0.1s linear;
}
#Header nav li:nth-child(6),#Header nav li:nth-child(8){
    /* not visible in mobile view */
    display:none;
}
#Header nav a:hover,a:active{
    cursor:pointer;
    background-color: orange;
    transform: scale(1.1);
}
main {
    width:90%;
    margin-top:0.5em;
    /* margin:0 auto; */
}
#Menu section,#Order,#Map,#Contact,#AboutUs,#OpenHours,#Healthy,#GoTop {
    /* width:90%; */
    /* */
    margin-top:0.5em; 
}

/* Menu */
#Menu {
    display:flex;
    flex-direction: column;
}
#Menu section{
    display:flex;
    flex-direction: column;
    background-color:rgba(255, 166, 0, 0.925);
    transition: transform 0.1s linear;
    border-radius: 1em;
}
#Menu section:hover{
    transform: scale(1.01);

}
#Menu img{
    border-radius:0.5em;

}
#Menu p{
    text-align: center;
    padding:1em;
    font-size:1em;

}
/* button to top (not to be displayed on bigger resolutions)*/
#Menu p span {
    font-size:1.2em;
    color:rgba(247, 70, 0, 0.897);
}


#goTop {
    display:inline-block;
    font-size: 0.9em;
    font-weight: 600;
    border-color: rgba(85, 85, 85, 0.2);
    background: red;
    position: sticky;
    top: 0%;
    border-radius: 0.1em;
    z-index: 1;
    text-decoration: none;
    text-align: center; 
    color:rgb(61, 45, 45);
    padding:5px;
    transition: all 0.3s linear;
}
#goTop:hover {
    background-color: #e61515;
    color:rgb(69, 184, 41);
}
/* form */
#Order{

}
#OrderForm,#Contact,#AboutUs,#OpenHours,#Healthy{
    background-color:rgba(255, 166, 0, 0.925);
    padding:0.5em;
    border-radius: 1em;
    text-align: center;
}
#OrderForm input, #OrderBtn,#OrderArea{
    border-radius: 0.5em;
    margin:0.5em 0;
    padding:0.3em;
    border-style: none;
    
}
#OrderForm label{

}
#OrderArea{
    resize: none;
}
#OrderBtn {
    background: rgba(198, 226, 36, 0.781);
    color:rgba(247, 45, 9, 0.87);
    font-weight: 700;
    transition: all 0.3s linear;
    width:60%;
    margin-top:0.5em;
}
#OrderBtn:hover{
    transform: scale(1.05);
    font-weight: 900;
}
#Contact h4,#AboutUs h4{
    margin-bottom:0.5em;
}
#Photos, #Healthy {
    /* not visible in mobile view */
    display:none;
}

/* Footer */
footer{
    display:flex;
    flex-direction: column;

}
#SocialMedia{
    display:flex;
    margin-top:0.5em;
}
#SocialMedia a {
    display:inline-block;
    background-color:rgba(255, 145, 0, 0.959);
    border:1px solid rgb(255, 136, 0);
    text-decoration: none;
    text-align: center; 
    color:black;
    padding:0.2em 1em;
    transition: all 0.1s linear;
    
}
#SocialMedia a:hover,a:active{
    cursor:pointer;
    /* background-color: orange; */
    transform: scale(1.05);
}
#CopyRight{
    margin-top:0.1em;
    background-color:rgba(255, 145, 0, 0.959);
    border:1px solid rgb(255, 136, 0);
    text-align: center;
}
